.context-menu
  position fixed
  width 10rem
  margin 0
  padding 0.3rem 0
  list-style none
  z-index 100
  background-color #fcfcfc
  border 0.1rem solid #eee
  box-shadow 0 0 15rem #eee
  &-item
    padding 0.5rem
    text-align center
    color #999
    cursor pointer
    &:hover
        background-color #eee
