.files
  list-style none
  padding 0
  margin 0
  &-open-file
    margin 1rem auto
    text-align center
    &-title
      margin 1rem auto
    &-button
      width 80%
      display block
      margin 0 auto
      padding 0.8rem
      font-size 1.6rem
      background-color #08f
      color #ffffff
      border none
      border-radius 0.2rem
      outline none
      cursor pointer
      &:hover
        background-color #09f
        box-shadow 0 0 2rem #cfcfcf
      &:active
        background-color #09f
        box-shadow 0 0 3rem #bfbfbf
  &-item
    height 5.2rem
    padding 7px
    cursor pointer
    border-top 0.1rem solid rgba(248, 248, 248,0.8)
    border-bottom 0.1rem solid rgba(248, 248, 248,0.8)
    overflow hidden
    transition all 0.15s ease-in-out
    &:hover
      background-color #f8f8f8
    &:active
      background-color #f8f8f8
      background-image linear-gradient(to bottom, #fff, #eee)
    &-filename
      height 3.6rem
      line-height 3.6rem
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      text-overflow ellipsis
    &&-active
      color #06f
      font-weight 400
      background-color #f8f8f8
      background-image linear-gradient(to bottom, #fff, #eee)
