.title-bar
  display flex
  height 4rem
  user-select none
  border-bottom 0.1rem solid #f8f8f8
  &-button
    width 4rem
    height 4rem
    margin 0
    padding 0
    font-size 2.4rem
    color #999
    background-color transparent
    border none
    outline none
    cursor pointer
    &:hover
    &:active
      outline none
    &:hover
      color #333
      background-color #f8f8f8
      &:active
        background-color #f0f0f0
  &-title
    height 4rem
    line-height 3.8rem
    padding 0 0.6rem
    flex-grow 1
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    -webkit-app-region drag
  &-window
    width 12rem
    min-width 12rem
