@import "../../stylus/markdown365.styl"
.app-container
  position absolute
  top 4rem
  right 0
  bottom 2.6rem
  left 0
  &-viewer
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin-left 4rem
    transition $transition
    &&-side-bar-expanding
      margin-left 32rem
