.app-container
  position absolute
  top 4rem
  right 0
  bottom 0
  left 0
  &-view
    position absolute
    top 0
    right 0
    bottom 0
    left 4rem
    transition all 0.3s ease-out
    &-side-bar-expanding
      left 36rem
