$font-family = "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif
$transition = all 0.2s ease-out

html
  font-size 10px
body
  font-size 1.6rem
  line-height 1.5
  color #555
  // 字体
  font-family $font-family
  overflow hidden

*
  box-sizing border-box

code
kbd
pre
  font-family  Menlo, Monaco, Consolas, "Courier New", monospace, arial

button
  font-family $font-family

::-webkit-scrollbar
  width 0.6rem
  height 0.6rem
  &-track
    border-radius 0.3rem
    background-color rgba(231,231,231,0.1)
  &-thumb
    background-color #bcd
    border-radius 0.3rem
