@font-face
  font-family "markdown365-icons"
  src url("../fonts/markdown365-icons.woff") format("woff"), url("../fonts/markdown365-icons.ttf") format("truetype")


[class^="icons-"],
[class*=" icons-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family "markdown365-icons" !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  vertical-align baseline
  display inline-block
  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icons-menu:before
  content "\e600"

.icons-window-close:before
  content "\e601"

.icons-window-maximize:before
  content "\e602"

.icons-window-restore:before
  content "\e603"

.icons-window-minimize:before
  content "\e604"

.icons-settings:before
  content "\e605"

.icons-open-file:before
  content "\e606"

.icons-visibility:before
  content "\e607"

.icons-visibility-off:before
  content "\e608"

.icons-check:before
  content "\e609"
