html
  font-size 10px
body
  font-size 1.6rem
  color #333
  // 字体
  font-family "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif

*
  box-sizing border-box

code
kbd
pre
  font-family  Menlo, Monaco, Consolas, "Courier New", monospace, arial
