@import "../../stylus/markdown365.styl"
.side-bar
  width 4rem
  position absolute
  top 0
  bottom 0
  left 0
  z-index 7
  user-select none
  &-button
    width 4rem
    height 4rem
    margin 0
    padding 0
    font-size 2.4rem
    color #999
    background-color transparent
    border none
    outline none
    cursor pointer
    &:hover
    &:active
      outline none
    &:hover
      color #333
      background-color #f8f8f8
      &:active
        background-color #f0f0f0

  &-container
    width 4rem
    position absolute
    top 0
    bottom 0
    left 0
    z-index 1
    background-color #fff
    &-settings
      position absolute
      right 0
      bottom 0
      left 0

  &-panel
    width 32rem
    position absolute
    top 0
    left 0
    bottom 0
    padding-left 4rem
    background-color #fff
    overflow-x hidden
    overflow-y auto
    transition $transition
    opacity 0
    transform translateX(-100%)
    &-expanding
      opacity 1
      transform translateX(0)
