.viewer
  position absolute
  top 0
  right 0
  bottom 0
  left 50%
  overflow auto
  padding 0.7rem 3%
  word-break break-all
  &&-mode-read
    left 0
  &-container
    max-width 72rem
    margin 0 auto
